@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */

.background-image {
    background-image: url('/api.jpg');
    background-size: cover;
    background-position: center;
  }
  